@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');
:root{
    --font-family:'Ubuntu', sans-serif;
    --cor-primaria:#865DFF;
    --cor-fundo:#B3005E;
}
body{
    background-color:#B3005E;
    display:flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin=0;
    font-family:var(--font-family);
}

h1{
    font-size: 3em;
    margin-top: 30px;


}
h3{
    font-size: 3em;
    text-align: center;
    display: block;

}
.mensagem{
    font-size: 1.5em;
    margin:20px;
}
.box{
    border:2px solid black;
    display:block;
    font-size: 4em;
    padding:10px;
    margin:20px;
}   

h2{
    font-size: 3em;
}

.btn-jogar{
    
    border:0;
    background:white;
    display:inline-block;
    border-radius: 2px;
    font-size: 2em;
    padding:5px;
    
    text-align:center;

}